body{
	font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}

#jumbotron{ 
    background-color: rgb(0,150,180);
    font-family: Montserrat, sans-serif;
    color: #ffffff;
  padding: 100px 25px;
  margin-bottom:0;
}

.well{
	background-color: rgb(0,150,180);
	border: none;
}
.cpadding{
    padding: 60px 50px;
}

#about{
 background-color: white;
  color:black;
}

#clients{
 background-color: white;
  color:black;
}

#contact, #products{
	background-color: rgb(0,150,180);
    color: #ffffff;
}
.logo-small {
    color: #fff;
    width: 60px;
    font-size: 60px;
}

.logo {
    height: 150px;
    margin-top: 50px;
}

.thumbnail {
    border: none;
    border-radius: 0;
}

.thumbnail img {
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0,150,180);


/*Navbar*/




/*Media- Queries*/


  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }